// Contact section wrapper 
.contact{
    background:$white;
    padding:7vh 0;
    //Contact section row
    .contact-row{
        padding-top:1vh;
        padding-bottom: 20vh;     
            
    }
}
